<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                <div class="bg-white shadow-md rounded p-4 px-sm-5 mt-5">
                    <div class="logo mb-5 mt-3 d-flex justify-content-center">
                        <img th:src="@{/images/kitech-logo-eip.png}" alt="Kitech" style="padding-right: 20px;">
                    </div>

                    <form id="login-form" th:action="@{/login}" th:object="${user}" method="POST" onsubmit="return preloader();" class="was-validated">
                        <div th:if="${(param.error != null) and (param.error[0] == 'true')}" th:text="${param.exception}" class="alert alert-warning">Error Message.</div>
                        <input type="hidden" class="form-control" th:value="${param.authToken}" name="authToken" id="authToken" required>
                        <div class="vertical-input-group">
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{username}" name="username" id="username" required th:placeholder="#{login.label.username}" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" th:field="*{password}" name="password" id="password" required th:placeholder="#{login.label.password}" />
                            </div>
                        </div>
                        <div class="form-group form-check grid">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember-me"th:checked="${user.rememberMe}" />[[#{login.button.check.label}]]
                            </label>
                        </div>
                        <button id="btn-submit" class="btn btn-primary btn-block shadow-none my-4" type="submit" >[[#{login.button.login}]]</button>
                        <button id="btn-spinner" class="btn btn-primary btn-block shadow-none my-4 d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="" th:text="${#messages.msg('login.button.logging')}"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script th:javascript>

            let preloader = function(){
                document.querySelector('#btn-submit').classList.add('d-none');
                document.querySelector('#btn-spinner').classList.add('d-block');
            };

            (function(){

                /**
                 * input 엘리먼트 keyup 이벤트 핸들러 : warning 메시지 숨김 및 이벤트 리스너 제거
                 * @param e
                 */
                let clickToRemoveListener = function(e){
                    // 이벤트 리스너 제거
                    document.querySelectorAll('.form-control').forEach(function (element) {
                        element.removeEventListener('keyup', clickToRemoveListener, true);
                    });
                };

                /**
                 * input 엘리먼트에 이벤트 리스너를 등록한다.
                 */
                if (document.querySelector('.alert-warning')) {
                    document.querySelectorAll('.form-control').forEach(function (element) {
                        element.addEventListener('keyup', clickToRemoveListener, true);
                    });
                }

                /**
                 * username focus
                 */
                let usernameObj = document.getElementById("username");
                if (usernameObj) {
                    usernameObj.focus();
                }
            })();
        </script>
    </th:block>
</th:block>