<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                <div class="bg-white shadow-md rounded p-4 px-sm-5 mt-4">
                    <div class="logo mb-3 mt-3 d-flex justify-content-center">
                        <img th:src="@{/images/kitech-logo-eip.png}" alt="Kitech" style="padding-right: 20px;">
                    </div>
                    <h4 class="text-primary text-center font-weight-900 mb-3">[[#{otp.text.title}]]</h4>
                    <p class="text-muted mb-4" th:utext="${message}">
                        [[${otp.text.enter.code}]
                    </p>
                    <form id="otp-screen" th:action="@{/otp}" th:object="${otp}" onsubmit="return preloader();" method="POST">
                        <div th:if="*{error}" class="alert alert-warning">[[#{*{returnCode}}]]</div>
                        <span class="form-row">
                            <div class="col">
                                <input type="text" pattern="\d" inputmode="numeric" class="form-control text-center text-5 py-2 px-1" maxlength="1" name="disit1" id="disit1" required autocomplete="off">
                            </div>
                            <div class="col">
                                <input type="text" pattern="\d" inputmode="numeric" class="form-control text-center text-5 py-2 px-1" maxlength="1" name="disit2" required autocomplete="off">
                            </div>
                            <div class="col">
                                <input type="text" pattern="\d" inputmode="numeric" class="form-control text-center text-5 py-2 px-1" maxlength="1" name="disit3" required autocomplete="off">
                            </div>
                            <div class="col">
                                <input type="text" pattern="\d" inputmode="numeric" class="form-control text-center text-5 py-2 px-1" maxlength="1" name="disit4" required autocomplete="off">
                            </div>
                            <div class="col">
                                <input type="text" pattern="\d" inputmode="numeric" class="form-control text-center text-5 py-2 px-1" maxlength="1" name="disit5" required autocomplete="off">
                            </div>
                            <div class="col">
                                <input type="text" pattern="\d" inputmode="numeric" class="form-control text-center text-5 py-2 px-1" maxlength="1" name="disit6" required autocomplete="off">
                            </div>
                        </span>
                        <button id="btn-submit" class="btn btn-primary btn-block shadow-none my-4" type="submit">[[#{otp.btn.verify}]]</button>
                        <button id="btn-spinner" class="btn btn-primary btn-block shadow-none my-4 d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="" th:text="${#messages.msg('otp.btn.verifying')}"></span>
                        </button>
                    </form>

                    <p class="text-muted mb-0" style="font-size: 0.8em;" th:text="${#messages.msg('otp.text.dont.have.app')}">AnyAUTH 앱이 없으신가요?</p>
                    <p class="text-muted mb-0" style="font-size: 0.8em;" th:text="${#messages.msg('otp.text.install.app')}">EIP-업무용표준소프트웨어-OTP 가이드를 참고하여 설치를 진행하세요.</p>
                </div>
            </div>
        </div>
        <script th:javascript>

            let preloader = function(){
                document.querySelector('#btn-submit').classList.add('d-none');
                document.querySelector('#btn-spinner').classList.add('d-block');
            };

            (function(){

                /**
                 * input 엘리먼트 자동 서브밋  keyup 이벤트 리스너를 등록한다.
                 */
                document.querySelectorAll('.form-control').forEach(function (element) {
                    element.addEventListener('keyup', function(e){
                        // every 속성 사용을 위해 유사배열을 배열로 변환
                        let inputs = Array.prototype.slice.call(document.querySelectorAll('.form-control'));
                        if (inputs.every(function(input){ return "" != input.value; })){
                            preloader();
                            document.forms['otp-screen'].submit();
                        }
                    });
                });

                document.getElementById('disit1').focus();
            })();

        </script>
    </th:block>
</th:block>