<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="row">
      <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
        <div class="bg-white shadow-md rounded p-4 px-sm-5 mt-5">
          <div class="logo mb-5 mt-3 d-flex justify-content-center">
            <img th:src="@{/images/kitech-logo-eip.png}" alt="Kitech" style="padding-right: 20px;">
          </div>

          <div class="errorPage">
            <p class="errorHead alert alert-danger">존재하지 않는 페이지 입니다.</p>
            <p th:text="${'path(위치): ' + path}"></p>
            <p th:text="${'status(상태): ' + status}"></p>
            <p th:text="${'timestamp(시각): ' + timestamp}"></p>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</th:block>