<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="row no-gutters h-100">
      <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4 m-auto py-5">

        <div class="logo mb-5 mt-3 d-flex justify-content-center">
          <img th:src="@{/images/bootstrap-logo.svg}" alt="Bootstrap" style="padding-right: 20px;">
        </div>

        <h2 class="lead text-center mb-3 alert alert-danger">서버 내부 오류</h2>

<!--        <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">-->
<!--          <h5 th:text="${httpStatus}">error</h5>-->
<!--          <h5 th:text="${httpStatus.reasonPhrase}">reasonPhrase</h5>-->
<!--          <h6 th:text="${errorMessage}">errorMessage</h6>-->
<!--        </div>-->

        <p class="text-center text-muted mb-0"><a th:href="@{/cart/home}">홈으로 돌아가기</a></p>
      </div>
    </div>
    <script th:javascript>

    </script>
  </th:block>
</th:block>