<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h2>Inventory Management</h2>
        <form id="searchForm" th:action="@{/cart/search}" th:method="GET">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="name" th:value="${name}" placeholder="Name">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="description" th:value="${description}" placeholder="Description">
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input id="case-true" name="useAnd" type="radio" class="form-check-input" value="true" th:checked="${useAnd}" required>
                        <label class="form-check-label" for="case-true">AND 조건</label>
                    </div>
                    <div class="form-check">
                        <input id="case-false" name="useAnd" type="radio" class="form-check-input" value="false" th:checked="${useAnd == false}" required>
                        <label class="form-check-label" for="case-false">OR 조건</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-primary btn-search" type="submit">검 색</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item, index : ${items}">
                    <td th:text="${index.count}">1</td>
                    <td th:text="${item.id}">2012</td>
                    <td th:text="${item.name}">Smart TV</td>
                    <td th:text="${item.description}">Smart TV</td>
                    <td th:text="${item.price}">11.99</td>
                    <td>
                        <form th:method="POST" th:action="@{'/cart/add/' + ${item.id}}">
                            <button class="btn btn-primary btn-block shadow-none" type="submit" >Add to cart</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>My Cart</h2>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem, index : ${cart.cartItems}">
                <td th:text="${index.count}">1</td>
                <td th:text="${cartItem.item.id}">2012</td>
                <td th:text="${cartItem.item.name}">Smart TV</td>
                <td th:text="${cartItem.item.description}">Smart TV</td>
                <td th:text="${cartItem.quantity}">3</td>
                <td>
                    <form th:method="DELETE" th:action="@{'/cart/remove/' + ${cartItem.item.id}}">
                        <button class="btn btn-secondary btn-block shadow-none" type="submit" >Remove to cart</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>

        <script th:javascript>

        </script>
    </th:block>
</th:block>